<div style="height: 100%">
  <mat-card class="elLogin centre-card glass elcard-dialog">
    <mat-card-title>
      {{erromsg}}
    </mat-card-title>
    <mat-card-content>
      <img width="200" height="200" src="../../assets/images/background/No2.png">
      <br>
      You are not allowed to view this page, please contact admin
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button (click)="gotologin()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
