<div style="height: 100%">
  <mat-card class="elLogin centre-card glass elcard-dialog">
    <mat-card-title>
      Unauthorized
    </mat-card-title>
    <mat-card-content>
      <img width="200" height="200" src="../../assets/images/background/un.png">
      <br>
      You are Unauthorized, please login to continue.
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button (click)="gotologin()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
